<!DOCTYPE html>
<html>
<head>
    <title>NetFilm</title>

</head>
<body>
 <script src = "http://code.jquery.com/jquery-1.11.0.min.js"></script> 

<h1>This is a NetFilm Project</h1>
<!-- <a href="http://127.0.0.1:8000/add/?a=4&b=5">计算 4+5</a> -->
<button id = "register">register</button>
<script type="text/javascript">
	
	$("#register").click(()=>{
		let data = {
			"name" : "hongting", 
			"email" : "hongting@qq.com",
			"pw" : "hahahaha"
		};
		let url = "http://127.0.0.1:8000/register/";
		$.get(url,data,(response)=>{
			alert(response);
		});		
	});


</script>
<button id = "login">login</button>
<script type="text/javascript">
	$("#login").click(()=>{
		let data = {
			"email" : "hongting@qq.com",
			"pw" : "hahahaha"
		};
		let url = "http://127.0.0.1:8000/login/";
		$.get(url,data,(response)=>{
			alert(response);
		});		
	});

</script>

<button id = "delete">delete</button>
<script type="text/javascript">
	$("#delete").click(()=>{
		let data = {
			"email" : "hongting@qq.com",
			"pw" : "hahahaha"
		};
		let url = "http://127.0.0.1:8000/delete/";
		$.get(url,data,(response)=>{
			alert(response);
		});		
	});

</script>

<button id = "search">search</button>
<script type="text/javascript">
	// $("#search").click(()=>{
	// 	let data = {
	// 		"title" : "en",
	// 	};
	// 	let url = "http://127.0.0.1:8000/search/";
	// 	$.get(url,data,(response)=>{
	// 		console.log(response)
	// 	});		
	// });
	const reg = document.getElementById("search");
	reg.addEventListener("click",(evt) =>{
		let xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function(){
			if(xhr.readyState === 4 && xhr.status === 200){
				console.log(xhr.responseText);	
			}else{
				alert(xhr.statusText);
			}
		}
		xhr.open("GET","http://127.0.0.1:8000/search/?title=en");
		xhr.send();
	})

</script>

</body>
</html>